<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "employee_details" %>

  <title></title>
</head>
<body  style="background-color:  ">

<p id="notice"><%= notice %></p>

<h1 style="background-color: lightgray ; ">Users</h1>

<table id="customers">
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button><%= link_to 'New', new_user_path %></button>

  <button type="button">
    <%= link_to 'Back', dashboard_path %>
  </button>
  <video autoplay muted loop id="myVideo">
    <source src="/assets/background5.mp4" type="video/mp4">
  </video>

  <!-- Optional: some overlay text to describe the video -->






  <!-- javsscrit for the video -->
  <script>
  // Get the video
  var video = document.getElementById("myVideo");

  // Get the button
  var btn = document.getElementById("myBtn");

  // Pause and play the video, and change the button text
  function myFunction() {
    if (video.paused) {
      video.play();
      btn.innerHTML = "Pause";
    } else {
      video.pause();
      btn.innerHTML = "Play";
    }
  }
  </script>
</body>
</html>
